body {
      font-family: Arial, sans-serif;
      margin: 5px;
      background: #f5f5f5;
    }
    .container {
      padding: 5px;
      border-radius: 10px;
    
      
    }
    h2 {
      border-bottom: 1px solid #ddd;
      padding-bottom: 5px;
    }
    .section {
      margin-top: 20px;
    }
    .input-group {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
    }
    input, select, button {
      padding: 8px;
      font-size: 16px;
    }
    .entry-list {
      margin-top: 10px;
    }
    .entry-item {
      padding: 6px 10px;
      background: #e0f7fa;
      border-radius: 5px;
      margin: 5px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .entry-item button {
      background: #ff5252;
      color: white;
      border: none;
      padding: 4px 8px;
      border-radius: 4px;
      cursor: pointer;
    }
    .entry-item button:hover {
      background: #e53935;
    }
    .box{
        border: 1px solid red;
        height: 100vh;
        padding-left: 10px;
    }
    .left {
        width: 20%;
    }
    .right {
        width: 80%;
    }